<<<<<<< HEAD
body {
	background-color: #2F4F4F;
}

h1, p {
    color: #CD5C5C;
=======
body {
	background-color: #2F4F4F;
}

h1, p {
    color: #CD5C5C;
>>>>>>> dc939e87fe5c78c3afd42a2d6884f3c1b8557de6
}